[Unit]
Description=Temperature Control Service
After=weston@root.service

[Service]
Type=simple
ExecStart=/usr/bin/qspi_read_pnsn
StandardOutput=tty
StandardOutput=append:/dev/ttySC0
StandardError=append:/dev/ttySC0
Restart=on-failure

[Install]
WantedBy=multi-user.target
