[Unit]
Description=auto run script after psplash-quit service
After=getty.target multi-user.target weston@root.service

[Service]
Type=forking
ExecStart=/usr/bin/autorun.sh


[Install]
WantedBy=multi-user.target
