[Unit]
Description=auto run script after psplash-quit service
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/home/root/burn_emmc.sh


[Install]
WantedBy=multi-user.target
